<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.toldpro.spidermath"
    version     = "1.0" >

  <name>Spider Math</name>

  <description>
    Learn arithmetic patterns by playing a highly polished tetris style game on any device with a Spider Theme.
  </description>

  <author href="https://toldpro.com" email="admin@toldpro.com">
    Rick Love - Told
  </author>

  <icon src="icon.png" />

</widget>